* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-width: 320px;
}

@media (min-width: 38rem) {
  html {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */

a {
  color: #268bd2;
  text-decoration: none;
}

/* `:focus` is linked to `:hover` for basic accessibility */

a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
}

h3 {
  margin-top: 0;
  font-size: 1.20rem;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.page blockquote p {
  font-size: 10px;
}

@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  margin: 0;
}

.container {
  max-width: 38rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.page,
.post {
  margin-bottom: 4em;
}

.page p {
  font-size: 14px;
}

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 58rem) {
  html {
    font-size: 20px;
  }
}

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}

@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */

.sidebar a {
  color: #fff;
}

.sidebar ul li a {
  font-weight: 400;
}

@media (min-width: 48rem) {
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}

.content {
  padding-top: 4rem;
  padding-bottom: 0;
}

@media (min-width: 48rem) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64rem) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

html {
  font-size: 12px;
}

body {
  color: #777;
  font-family: 'Roboto';
}

header {
  padding: 0 0 2rem 0;
  font-size: 1.8rem;
  font-weight: 100;
  color: #333;
}

img {
  border-radius: 0;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.content.container h3 {
  letter-spacing: 1px;
  text-align: center;
}

.content {
  max-width: 48rem;
  padding-top: 31px;
}

@media (max-width: 48rem) {
  .content {
    padding-top: 0;
  }
}

.sidebar {
  background-color: white;
  color: black;
}

.sidebar a,
a {
  color: black;
}

.sidebar ul a {
  text-transform: uppercase;
}

.sidebar a:hover {
  background-color: cyan;
}

.sidebar a:focus,
a:active {
  color: white;
  background-color: black !important;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
}

.sidebar-sticky {
  bottom: auto;
  left: 2rem;
}

html {
  font-family: 'Lato';
}

header div a {
  display: inline;
  color: black;
  font-weight: 300;
}

ul.posts {
  list-style: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 1%;
}

ul.posts li {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
}

ul.posts li.animated {
    opacity: 0;
}

ul.posts li.archive {
  width: 50%;
}

ul.posts li.archive > a .w-title {
    margin: -40px 0 0 0;
}

ul.posts li img {
  width: 100%;
}

ul.posts li > a {
  position: relative;
  display: block;
  border-bottom: 2px solid #ddd;
}

ul.posts li.archive a {
  cursor: default !important;
}

ul.posts li > a:hover .w-tags,
ul.posts li > a:hover .w-title {
  display: block;
}

ul.posts li > a img {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

ul.posts li > a:hover img {
  opacity: 0.1;
}

ul.posts li > a {
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  background-color: rgba(0, 0, 0, 1);
}

ul.posts li > a:hover {
  background-color: rgba(0, 0, 0, .9);
}

ul.posts li > a:hover .w-title {
  opacity: 1;
}

ul.posts li > a:hover .w-tags {
  opacity: 1;
}

ul.posts li > a .w-title {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  position: absolute;
  top: 50%;
  margin: -40px 0 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  color: white;
  font-size: 36px;
  padding-bottom: 7px;
  font-weight: 300;
  line-height: 40px;
}

ul.posts li.archive > a .w-title {
  font-size: 20px;
  line-height: 25px;
}

ul.posts li.archive > a .w-tags {
  padding-top: 5px;
}

ul.posts li a span.w-info {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0 15px;
  color: #7a7a7a;
  transition: opacity 1.6s;
  opacity: 0;
  text-align: center;
  font-weight: 400;
}

ul.posts li > a:hover span.w-info {
  opacity: 1;
}

ul.posts .w-tags {
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 100;
  padding: 15px 20px 0 20px;
}

.post img {
  max-width: 100%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.post.award-awwwards_site_of_the_day:before {
  content: '';
  position: absolute;
  width: 69px;
  height: 105px;
  background-color: red;
  top: 0;
  left: -1px;
  z-index: 1;
  background: url("../../../../../../../public/img/awards/awwwards_site_of_the_day-left.png") 0 0 no-repeat;
  background-size: 100%;
}

.post.thefwa_site_of_the_day:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  top: 0;
  right: 0;
  z-index: 1;
  background: url("../../../../../../../public/img/awards/fwa.png") 0 0 no-repeat;
  background-size: 100%;
}

.post.award-sol_plata:before,
.post.award-sol_bronce:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: red;
  top: 10px;
  left: 10px;
  z-index: 1;
  background: url("../../../../../../../public/img/awards/sol_plata.png") 0 0 no-repeat;
  background-size: 100%;
}

.post.award-sol_bronce:before {
  background: url("../../../../../../../public/img/awards/sol_bronce.png") 0 0 no-repeat;
}

@media (min-width: 48rem) {
  .content {
    max-width: 70rem;
  }
}

@-webkit-keyframes fadeIn50 {
  0% {
    opacity: 0.85;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn50 {
  0% {
    opacity: 0.85;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn50 {
  -webkit-animation-name: fadeIn50;
  animation-name: fadeIn50;
}

@-webkit-keyframes fadeOut50 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.85;
  }
}

@keyframes fadeOut50 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.85;
  }
}

.fadeOut50 {
  -webkit-animation-name: fadeOut50;
  animation-name: fadeOut50;
}
@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.loading {
    margin: 0 auto;
}

.hide {
    display: none;
}
