---
layout: default
title: Home
---
{% include base.html %}

<h2 class="preamble noselect pre hide">HERE'S WHAT I'VE BEEN WORKING ON</h2>

<ul class="posts">
  {% for post in site.posts %}
  <li id="{{post.client|split:' '|join:'-'|downcase}}_{{post.title|split:' '|join:'-'|downcase}}" class="post w {{post.priority}} {{post.awards | join: ' '}}" itemscope itemtype="http://schema.org/WebSite">

    {% if post.client == post.title %}
    {% assign post_title = post.title %}
    {% else %}
    {% assign post_title = post.client | append: " · " | append: post.title %}
    {% endif %}

    <meta itemprop="name" content="{{ post_title }}"/>
    <meta itemprop="contributor" content="Nahuel Scotti"/>
    {% for award in post.awards %}<meta itemprop="award" content="{{award}}"/>{% endfor %}
    <meta itemprop="keywords" content="{{post.tech|join:', '}}"/>
    <meta itemprop="image" content="{{site.url}}/img/projects/{{ post.image }}.jpg"/>
    <meta itemprop="url" content="{{site.url}}{{ post.id }}.html"/>
    <a href="{{base}}{{ post.id }}.html" target="_self" class="w-link animated">
      <div class="post-image {{post.priority}} animated {{post.client|split:' '|join:'-'|downcase}}_{{post.title|split:' '|join:'-'|downcase}}"></div>
      <h3 class="w-title">{{post.title}}</h3>
      <div class="w-tags">{{ post.tech | join: " · "}}</div>
      <div class="w-info">Client: {{ post.client }} / working at {{post.agency}}</div>
    </a>
  </li>

  {% endfor %}

</ul>
