---
layout: default
title: Home
---

<style scoped>
{% for post in site.posts %}
  .post-image.{{post.title|split:' '|join:'-'|downcase}}.{{post.priority}} {
    background: url(./img/home/{{ post.image }}.jpg) no-repeat;
    background-size: 100% auto;
  }
{% endfor %}
  @media (max-width: 768px) {
    {% for post in site.posts %}
    .post-image.{{post.client|split:' '|join:'-'|downcase}}_{{post.title|split:' '|join:'-'|downcase}}.{{post.priority}} {
      background: url(./img/home/{{ post.image }}-md.jpg) no-repeat;
      background-size: 100% auto;
    }
    {% endfor %}
  }
</style>

<h3 class="noselect pre hide">HERE'S WHAT I'VE BEEN WORKING ON</h3>

<ul class="posts">
  {% for post in site.posts %}
  <li id="{{post.client|split:' '|join:'-'|downcase}}_{{post.title|split:' '|join:'-'|downcase}}" class="post w {{post.priority}} {{post.awards | join: ' '}}" itemscope itemtype="http://schema.org/WebSite">
    <meta itemprop="name" content="{{post.client}} - {{post.title}}"/>
    <meta itemprop="contributor" content="Nahuel Scotti"/>
    {% for award in post.awards %}<meta itemprop="award" content="{{award}}"/>{% endfor %}
    <meta itemprop="keywords" content="{{post.tech|join:', '}}"/>
    <meta itemprop="image" content="{{site.url}}/img/home/{{ post.image }}.jpg"/>
    <meta itemprop="url" content="{{site.url}}{{ post.id }}.html"/>
    <a href="{{ post.id }}.html" target="_self" class="w-link animated">
      <div class="post-image {{post.priority}} animated {{post.title|split:' '|join:'-'|downcase}}"></div>
      <h1 class="w-title">{{post.title}}</h1>
      <div class="w-tags">{{ post.tech | join: " · "}}</div>
      <div class="w-info">Client: {{ post.client }} / working at {{post.agency}}</div>
    </a>
  </li>

  {% endfor %}

  <script type="text/javascript">
    var list = document.querySelectorAll('ul.posts li');
    for(var i=0; i<list.length; i++){
      list[i].classList.add('hide');
    }
    var posts = [];
    {% for post in site.posts %}posts.push({id: "{{post.client|split:' '|join:'-'|downcase}}_{{post.title|split:' '|join:'-'|downcase}}", image: "{{post.image}}"});{% endfor %}
  </script>
  <script type="text/javascript" src="./assets/bundle.js"></script>
</ul>
