<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% if page %}
  <link rel="canonical" href="{{site.url}}{{page.url}}" />
  {% endif %}

  <meta name="author" content="Nahuel Scotti" />
  <meta name="description" content="Nahuel Scotti - Developer. Currently working at NetEnt, Stockholm - Sweden." />
  <meta name="keywords" content="singuerinc, portfolio, developer, html5, javascript, netent, b-reel, doubleyou, backbone, requirejs, angularjs, nodejs, flash, flex, as3, ruby, rails" />

  <meta property="fb:app_id" content="1253343308017588" />
  <meta property="fb:admins" content="nahuel.scotti" />

  <meta property="og:site_name" content="Nahuel Scotti - Portfolio" />
  <meta property="og:title" content="Nahuel Scotti - Portfolio">
  <meta property="og:description" content="Developer. Currently working at NetEnt, Stockholm - Sweden.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:image" content="{{site.url}}/img/home/zalando--ivy-park.jpg">
  <meta property="og:locale" content="en_US" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:width" content="816" />
  <meta property="og:image:height" content="386" />

  <title>Nahuel Scotti - Portfolio</title>

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

  <style type="text/css">
    * {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
    }
  </style>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-881783-8', 'auto');
    ga('require', '{{ page.id }}');
    ga('send', 'pageview');

  </script>

  <script type="text/javascript">
    var host = "www.singuerinc.com";
    if ((host == window.location.host) && (window.location.protocol != 'https:')) {
      window.location = window.location.toString().replace(/^http:/, "https:");
    }
  </script>

</head>
