<div class="sidebar hide">
  <div class="container sidebar-sticky">

    <header>
      <div><a href="/">{{ site.title }}</a></div>
    </header>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="https://github.com/singuerinc" target="_blank">GitHub</a></li>
      <li><a href="https://twitter.com/singuerinc" target="_blank">Twitter</a></li>
      <li><a href="https://blog.singuerinc.com" target="_blank">Blog</a></li>
      <li><a href="https://medium.com/@singuerinc" target="_blank">Medium</a></li>
    </ul>

  </div>
</div>
