{% include base.html %}
<div class="sidebar">
    <div class="container sidebar-sticky">
        <header>
            <h1 class="singuerinc"><a href="{{base}}/">{{ site.title }}</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="{{base}}/">Home</a></li>
                <li><a href="{{base}}/about.html">About</a></li>
                <li><a href="https://github.com/singuerinc" target="_blank">GitHub</a></li>
                <li><a href="https://twitter.com/singuerinc" target="_blank">Twitter</a></li>
                <li><a href="https://blog.singuerinc.com" target="_blank">Blog</a></li>
                <li><a href="https://medium.com/@singuerinc" target="_blank">Medium</a></li>
                <li><a href="{{base}}/sitemap.html">Map</a></li>
                <li>
                    <ul class="social">
                        <li><a target="_blank" href="https://twitter.com/intent/tweet?url={{site.url|uri_escape}}&via=singuerinc" class="social-icon twitter"></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{site.url|uri_escape}}" class="social-icon facebook"></a></li>
                        <li><a target="_blank" href="https://plus.google.com/share?url={{site.url|uri_escape}}" class="social-icon google"></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
