<div class="sidebar hide">
  <div class="container sidebar-sticky">

    <header>
      <h1 class="singuerinc"><a href="/">{{ site.title }}</a></h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="https://github.com/singuerinc" target="_blank">GitHub</a></li>
        <li><a href="https://twitter.com/singuerinc" target="_blank">Twitter</a></li>
        <li><a href="https://blog.singuerinc.com" target="_blank">Blog</a></li>
        <li><a href="https://medium.com/@singuerinc" target="_blank">Medium</a></li>
        <li><a href="/sitemap.html">Sitemap</a></li>
      </ul>
    </nav>

  </div>
</div>
