{% include base.html %}
<div class="sidebar-mobile ph3 pv4 dark-gray">
    <div class="ph4 sidebar-sticky">
        <nav>
            <ul class="list mv0 pa0 dn">
                <li><a class="dark-gray hover-near-white fw4 ttu lh-copy" href="{{base}}/">Home</a></li>
                <li><a class="dark-gray hover-near-white fw4 ttu lh-copy" href="{{base}}/about.html">About</a></li>
                <li><a class="dark-gray hover-near-white fw4 ttu lh-copy" href="https://github.com/singuerinc" target="_blank" rel="noopener">GitHub</a></li>
                <li><a class="dark-gray hover-near-white fw4 ttu lh-copy" href="https://twitter.com/singuerinc" target="_blank" rel="noopener">Twitter</a></li>
                <li><a class="dark-gray hover-near-white fw4 ttu lh-copy" href="https://blog.singuerinc.com" target="_blank" rel="noopener">Blog</a></li>
                <li><a class="dark-gray hover-near-white fw4 ttu lh-copy" href="https://medium.com/@singuerinc" target="_blank" rel="noopener">Medium</a></li>
                <li><a class="dark-gray hover-near-white fw4 ttu lh-copy" href="{{base}}/sitemap.html">Map</a></li>
            </ul>
        </nav>
    </div>
</div>
