{% include base.html %}
<div class="sidebar-mobile">
    <div class="container sidebar-sticky">
        <nav>
            <ul>
                <li><a href="{{base}}/">Home</a></li>
                <li><a href="{{base}}/about.html">About</a></li>
                <li><a href="https://github.com/singuerinc" target="_blank">GitHub</a></li>
                <li><a href="https://twitter.com/singuerinc" target="_blank">Twitter</a></li>
                <li><a href="https://blog.singuerinc.com" target="_blank">Blog</a></li>
                <li><a href="https://medium.com/@singuerinc" target="_blank">Medium</a></li>
                <li><a href="{{base}}/sitemap.html">Sitemap</a></li>
            </ul>
        </nav>
    </div>
</div>
