@tailwind base;
@tailwind components;
@tailwind utilities;

@charset "UTF-8";

@layer base {
  html {
    @apply antialiased bg-black text-gray-100;
  }
}

.title-gradient {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(left, #9775fa, #97759a);
  background-image: linear-gradient(to right, #9775fa, #97759a);
  -webkit-text-fill-color: transparent;
}

.with-border:after {
  content: "";
  @apply absolute pointer-events-none top-2 bottom-2 right-2 left-2 border-gray-900/30 rounded-lg border-2;
}

ul,
ol,
dl {
  @apply m-0;
}
/* 
blockquote {
  margin: 0.8rem 0;
  color: #868e96;
  border-left: 0.25rem solid #e5e5e5;
  padding-right: 5rem;
  padding-left: 1.25rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0;
}

.container {
  max-width: 38rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.page p {
  font-size: 14px;
}

.page p.text {
  font-size: 1.7rem;
}

body {
  color: #495057;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar,
.sidebar-mobile {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.page .content {
  padding-top: 4rem;
  padding-bottom: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.post.award-awwwards_site_of_the_day:before {
  content: "";
  position: absolute;
  width: 69px;
  height: 105px;
  top: 0;
  left: -1px;
  z-index: 1;
  background: url("../static/images/awards/awwwards_site_of_the_day-left.png") 0
    0 no-repeat;
  background-size: 100%;
}

.post.thefwa_site_of_the_day:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  z-index: 1;
  background: url("../static/images/awards/fwa.png") 0 0 no-repeat;
  background-size: 100%;
}

.post.award-sol_plata:before,
.post.award-sol_bronce:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  top: 10px;
  left: 10px;
  z-index: 1;
  background: url("../static/images/awards/sol_plata.png") 0 0 no-repeat;
  background-size: 100%;
}

.post.award-sol_bronce:before {
  background: url("../static/images/awards/sol_bronce.png") 0 0 no-repeat;
}

@-webkit-keyframes fadeIn50 {
  0% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn50 {
  0% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn50 {
  -webkit-animation-name: fadeIn50;
  animation-name: fadeIn50;
}

@-webkit-keyframes fadeOut50 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}

@keyframes fadeOut50 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}

.fadeOut50 {
  -webkit-animation-name: fadeOut50;
  animation-name: fadeOut50;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    -ms-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.loading {
  margin: 0 auto;
}

.spinner {
  margin: 0px auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.page .title {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(left, #000, #fcfcfc);
  background-image: linear-gradient(to right, #000, #fcfcfc);
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 2rem;
}

.project-page .image {
  margin: 28px 0;
  max-width: 100%;
}

.project-page p {
  font-weight: 400;
  margin: 0 0 1rem;
  padding: 0;
  color: grey;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: -0.03rem;
}

.project-page p strong {
  font-weight: 600;
}

.project-page p em {
  font-size: 1.4em;
  display: block;
  line-height: 1.4em;
  color: #212529;
  margin: 20px 0;
  border-left: 4px solid lightgray;
  padding: 0 0 0 20px;
  font-style: normal;
  font-weight: 200;
}

.project-page .project-content p a:hover {
  text-decoration: underline;
}

.project-page .project-content ul {
  font-size: 1.4em;
}

.project-page .info {
  border-collapse: collapse;
  margin: 20px 0;
}

.project-page small {
  color: rgba(0, 0, 0, 0.4);
}

.project-page .project-content .video-wrapper {
  display: block;
  margin: 60px 0;
  position: relative;
  padding-bottom: 52.9%;
  padding-top: 25px;
  height: 0;
}

.project-page .project-content .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-page .info tr td {
  min-width: 100px;
  margin: 0;
  padding: 3px 0;
}

.project-page .info a:hover {
  text-decoration: underline;
}

.project-page hr {
  clear: both;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.project-page .related-title,
.project-page .share-title {
  font-size: 1.5rem;
  margin: 20px 0 5px;
  color: #000;
  float: none;
  min-width: 100%;
  text-align: center;
}

.project-page .prev-next-project {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  clear: both;
}

.project-page .prev-next-project li {
  padding: 10px 0;
}

.project-page .prev-next-project li.prev:before {
  content: "\021E4";
  color: #000;
  margin-right: 7px;
}

.project-page .prev-next-project li.next:after {
  content: "\021E5";
  color: #000;
  margin-left: 7px;
}

.project-page .related-post,
.project-page .share-post {
  list-style: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 1%;
}

.project-page .related-post,
.project-page .share-post {
  float: none;
  margin: 20px 0;
  width: auto;
  text-align: center;
}

.project-page .related-post li {
  margin: 10px 0;
}

.project-page .share-post li {
  margin: 0 0 20px;
  float: none;
}

.project-page .share-post li:last-child {
  margin: 0 0;
}

.project-page .related-post a {
  display: block;
}

.project-page .share-post a {
  display: block;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
}

.project-page .share-post a.twitter {
  background-color: #41b7d8;
}

.project-page .share-post a.facebook {
  background-color: #3b5997;
}

.project-page .share-post a.google {
  background-color: #d64937;
}

.project-page .award {
  float: left;
  margin-top: 10px;
}

.project-page .award:after {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #868e96;
  color: #868e96;
  line-height: 45px;
  text-align: center;
  align-content: center;
  margin: 0 10px 10px 0;
  padding: 0 20px;
  opacity: 0.6;
  content: "";
}

.project-page .award-sol_plata:after {
  content: "SOL";
}

.project-page .award-sol_bronce:after {
  content: "SOL";
  border-color: #f59f00;
  color: #f59f00;
}

.project-page .award-laus:after {
  content: "LAUS";
}

.project-page .award-efi:after {
  content: "EFI";
}

.project-page .award-awwwards_site_of_the_day:after {
  content: "AWWWARDS";
}

.project-page .thefwa_site_of_the_day:after {
  content: "THE FWA";
}

.project-page .award-premio-el-ojo-iberoamerica:after {
  content: "EL OJO DE IBEROAMERICA";
}

.project-page .award-inspirational-festival:after {
  content: "INSPIRATIONAL FESTIVAL";
}

.project-page .award-premios-genio:after {
  content: "PREMIOS GENIO";
}

.page .site-map h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.page .site-map {
  list-style: none;
  margin: 10px 0 40px;
  padding: 0;
}

.page .site-map li ul {
  list-style: none;
  padding: 0;
}

.page .site-map a * {
  pointer-events: none;
}

ul.screen-shots {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.screen-shots li {
  margin: 0 0 1rem;
}

@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
  .sidebar ul {
    display: block;
  }

  .page .title {
    text-align: left;
    font-size: 3rem;
  }

  .project-page .related-title,
  .project-page .share-title {
    float: left;
    min-width: 100px;
    text-align: left;
    clear: left;
  }
  .project-page .prev-next-project {
    display: block;
  }
  .project-page .prev-next-project li.prev:before {
    margin-right: 7px;
  }
  .project-page .prev-next-project li.prev {
    float: left;
  }
  .project-page .prev-next-project li.next {
    float: right;
  }
  .project-page .prev-next-project li.next:after {
    margin-left: 7px;
  }
  .project-page .related-post,
  .project-page .share-post {
    float: left;
    margin: 17px 0;
    width: auto;
    text-align: left;
  }
  .project-page .share-post {
    margin: 20px 0;
  }
  .project-page .share-post li {
    margin: 0 10px 10px 0;
    float: left;
  }
  .project-page .share-post a {
    width: auto;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  .project-page .share-post a.twitter,
  .project-page .share-post a.facebook,
  .project-page .share-post a.google {
    background-color: #ced4da;
  }
  .project-page .share-post a.twitter:hover {
    background-color: #41b7d8;
  }
  .project-page .share-post a.facebook:hover {
    background-color: #3b5997;
  }
  .project-page .share-post a.google:hover {
    background-color: #d64937;
  }
} */
