---
layout: default
title: Home
---

<h3>HERE'S WHAT I'VE BEEN WORKING ON</h3>
<ul class="posts">
  {% for post in site.posts %}
  <li id="{{post.id}}" class="post w {{post.archive}} {{post.awards | join: ' '}}">
    {% if post.www == ''%}
    <a href="#{{ post.id }}" target="_self" class="w-link animated">
    {% else %}
    <a href="{{ post.www }}" target="_blank" class="w-link animated">
    {% endif %}
      <img src="{{ post.image }}" alt="{{ post.title }}" class="animated" width="100%" height="100%">
      <h1 class="w-title">{{post.title}}</h1>
      <span class="w-tags">{{ post.tech | join: " · "}}</span>
      <span class="w-info">Client: {{ post.client }} / working at {{post.agency}} {% if post.www != ''%} · online{% else %} · offline{% endif %}</span>
    </a>
  </li>
  {% endfor %}
</ul>

<script src="public/js/all.js"></script>