---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post w">
    <a href="{{ post.url }}" class="w-link">
      <img src="{{ post.image }}" alt="{{ post.title }}">
      <h1 class="w-title">{{post.title}}</h1>
      <span class="w-tags">{{ post.tags | join: " #" | prepend: '#'}}</span>
    </a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>