<head>

  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="author" content="Nahuel Scotti" />
  <meta name="description" content="Nahuel Scotti - Full stack developer living in Barcelona. Currently working at B-REEL." />
  <meta name="keywords" content="singuerinc, portfolio, developer, html5, javascript, b-reel, doubleyou, backbone, requirejs, angularjs, nodejs, flash, flex, as3, ruby, rails" />

  <meta property="og:title" content="Nahuel Scotti - Portfolio">
  <meta property="og:description" content="Nahuel Scotti - Full stack developer living in Barcelona. Currently working at B-REEL.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.singuerinc.com/">

  <title>singuerinc</title>

  <link rel="stylesheet" href="/public/all.css">
  <link href='//fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

</head>
