html {
	font-size: 12px;
	font-family: 'Roboto';
}

body {
	color: #777;
}

header {
	padding: 2rem 0 2rem 23rem;
	font-size: 2rem;
	font-weight: 100;
	color: #333;
}

img {
	border-radius: 0;
}

h1, h2, h3 {
	font-weight: 100;
}

h1 a {
	font-size: 3rem;
	color: black;
}

h2 {
	font-size: 2.2rem;
	color: #666;
}


strong {
	font-weight: 700;
}

.content .container {

}

.content {
	padding-top: 0;
}

.sidebar {
	background-color: white;
	color: black;
	margin-top: 6rem;
}

.sidebar a {
	color: black;
}

.sidebar a:hover {
	background-color: cyan;
}

.sidebar a:focus, a:active {
	color: white;
	background-color: black !important;
}

.sidebar ul {
	list-style: none;
	padding: 0px;
}

.sidebar-sticky {
	bottom: auto;
	left: 2rem;
}

html {
	font-family: 'Lato';
}

header div a {
	background-color: cyan;
	display: inline;
	color: black;
	font-weight: 300;
}

ul.posts {
	list-style: none;
	padding: 0;
	width: 960px;
	overflow: hidden;
}

ul.posts li {
	float: left;
	width: 960px;
	margin: 0 1px 1px 0;
}

ul.posts li img{
	width: 960px;
}

ul.posts li a {
	position: relative;
	display: block;
}

ul.posts li a:hover .w-tags, ul.posts li a:hover .w-title {
	display: block;
}

ul.posts li a img {
	opacity: 1;
	-webkit-transition: opacity 2s;
	transition: opacity 2s;
}

ul.posts li a:hover img {
	opacity: 0.1;
}

ul.posts li a {
	-webkit-transition: background-color 0.1s;
	transition: background-color 0.1s;
	background-color: rgba(0, 0, 0, 1);
}

ul.posts li a:hover {
	background-color: rgba(0, 0, 0, .9);
}

ul.posts li a:hover .w-title {
	opacity: 1;
}


ul.posts li a:hover .w-tags {
	opacity: 1;
}

ul.posts li a .w-title {
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
	position: absolute;
	top: 32%;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
	color: white;
	font-size: 36px;
	padding-bottom: 7px;
	font-weight: 300;
}

ul.posts .w-tags {
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	opacity: 0;
	color: rgba(255, 255, 255, .2);
	font-size: 22px;
	font-weight: 100;
}

.p .w-tech {
	padding: 4px 6px;
	background-color: #eee;
	font-size: 12px;
	margin-right: 4px;
}

.p .w-content {
	margin: 40px 0;
}

.p .w-agency {
	font-weight: 300;
}

.post.p {
	width: 960px;
	font-weight: 300;
}

.post.p strong {
	font-weight: 400;
}

h1.post-title {
	font-size: 32px;
	font-weight: 300;
}

h1.post-title .w-www a {
	font-size: 12px;
	color: #999;
}

.p hr {
	width: 960px;
}

.p p {
	font-size: 17px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.pagination: {
	float: none;
	clear: both;
}