<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    {% include sidebar-mobile.html %}

    {% unless page.id == "404" %}
    <noscript>
    {% endunless %}
      <link rel="stylesheet" href="/all.css">

      <style type="text/css">
        .hide {
          display: block;
        }
      </style>
    {% unless page.id == "404" %}
    </noscript>
    {% endunless %}

    {% include footer.html %}

  </body>
</html>
