<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head.html %}
{% include base.html %}

<script type="text/javascript">
  page = "/project";
</script>
<body class="project-page page">

  {% include sidebar.html %}

    {% if page.client == page.title %}
      {% assign page_title = page.title %}
    {% else %}
      {% assign page_title = page.client | append: " · " | append: page.title %}
    {% endif %}
    {% assign page_url = site.url | append: page.url %}

    <div class="content container hide">

      <div itemscope itemtype="http://schema.org/WebSite">
        <h1 class="project-title title">{{ page_title }}</h1>
        <meta itemprop="name" content="{{page_title}}"/>
        <meta itemprop="contributor" content="Nahuel Scotti"/>
        {% for award in page.awards %}<meta itemprop="award" content="{{award}}"/>{% endfor %}
        <meta itemprop="keywords" content="{{page.tech|join:', '}}"/>
        <meta itemprop="image" content="{{site.url}}/img/projects/{{ page.image }}.jpg"/>
        <img class="image" src="{{base}}/img/projects/{{ page.image }}.jpg" alt="{{ page.title }}" title="{{ page.title }}">
        <meta itemprop="url" content="{{page_url}}"/>

        <table class="info">
          <tr>
            <td class="info-role">My role</td>
            <td>{{ page.role }}</td>
          </tr>
          <tr>
            <td class="info-title">Date release</td>
            <td>{{ page.date | date_to_string }}</td>
          </tr>
          <tr>
            <td class="info-title">Client</td>
            <td>{{ page.client }}</td>
          </tr>
          <tr>
            <td class="info-title">Agency</td>
            <td>{{ page.agency }}</td>
          </tr>
          {% if page.www != ''%}
          <tr>
            <td class="info-title">Website</td>
            <td>
              <a href="{{ page.www }}" target="_blank">Visit</a>
            </td>
          </tr>
          {% endif %}
          {% if page.more != ''%}
          <tr>
            <td class="info-title">More info</td>
            <td>
              <a href="{{ page.more }}" target="_blank">More info</a>
            </td>
          </tr>
          {% endif %}
          <tr>
            <td class="info-title">Tech</td>
            <td>{{ page.tech | join: " · "}}</td>
          </tr>
          {% if page.awards %}
          <tr>
            <td class="info-awards">Awards</td>
            <td>
              {% for award in page.awards %}
              <div class="award {{award}}"></div>
              {% endfor %}
            </td>
          </tr>
          {% endif %}
        </table>

        <div class="project-content {{page.css|join:' '}}">{{ content }}</div>

      </div>

      <h2 class="share-title">Share</h2>
      <ul class="share-post">
        <li><a class="twitter" href="https://twitter.com/intent/tweet?text={{page_title|uri_escape}}&url={{page_url|uri_escape}}&via=singuerinc" target="_blank">Twitter</a></li>
        <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{page_url|uri_escape}}" target="_blank">Facebook</a></li>
        <li><a class="google" href="https://plus.google.com/share?url={{page_url|uri_escape}}" target="_blank">Google+</a></li>
      </ul>

      <hr>

      {% if page.previous.url || page.next.url %}
      <ul class="prev-next-project">
          {% if page.next.url %}
            {% if page.next.client == page.next.title %}
              {% assign page_next_title = page.next.title %}
            {% else %}
              {% assign page_next_title = page.next.client | append: " · " | append: page.next.title %}
            {% endif %}
          <li><a href="{{page.next.url}}">{{page_next_title}}</a></li>
          {% endif %}
          {% if page.previous.url %}
            {% if page.previous.client == page.previous.title %}
              {% assign page_previous_title = page.previous.title %}
            {% else %}
              {% assign page_previous_title = page.previous.client | append: " · " | append: page.previous.title %}
            {% endif %}
          <li><a href="{{page.previous.url}}">{{page_previous_title}}</a></li>
          {% endif %}
      </ul>
      <hr>
      {% endif %}

      <h2 class="related-title">Related</h2>
      <ul class="related-post">
      {% assign sorted_posts = site.categories.[page.category] | sort: "client" %}
      {% for post in sorted_posts %}
        {% if post.id != page.id %}
          {% if post.client == post.title %}
            {% assign post_title = post.title %}
          {% else %}
            {% assign post_title = post.client | append: " · " | append: post.title %}
          {% endif %}
        <li><a href="{{base}}{{ post.id }}.html" target="_self">{{ post_title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>

    </div>

  {% include sidebar-mobile.html %}
  {% include footer.html %}

</body>
</html>
