---
layout: default
title: Home
---

<h3>HERE'S WHAT I'VE BEEN WORKING ON</h3>
<ul class="posts">
  {% for post in site.posts %}
  <li id="{{post.id}}" class="post w {{post.priority}} {{post.awards | join: ' '}}">
    {% if post.www == ''%}
    <a href="#{{ post.id }}" target="_self" class="w-link animated">
    {% else %}
    <a href="{{ post.www }}" target="_blank" class="w-link animated">
    {% endif %}
      <style>
        
        .post-image.{{post.title|split:' '|join:'-'|downcase;}}.{{post.priority}} {
          background: url(/img/home/{{ post.image }}.jpg) no-repeat;
          background-size: 100% auto;
        }

        @media (max-width: 768px) {
          .post-image.{{post.title|split:' '|join:'-'|downcase;}}.{{post.priority}} {
            background: url(/img/home/{{ post.image }}-md.jpg) no-repeat;
            background-size: 100% auto;
          }
        }

      </style>
      <div class="post-image {{post.title|split:' '|join:'-'|downcase;}} {{post.priority}} animated"></div>
      <h1 class="w-title">{{post.title}}</h1>
      <span class="w-tags">{{ post.tech | join: " · "}}</span>
      <span class="w-info">Client: {{ post.client }} / working at {{post.agency}} {% if post.www != ''%} · online{% else %} · offline{% endif %}</span>
    </a>
  </li>
  {% endfor %}
</ul>

<script>
    app = {};

    app.posts = [];
{% for post in site.posts %}
    app.posts.push({
        id: '{{post.id}}',
        title: '{{post.title}}',
        image: '{{post.image}}',
        href: '{{post.www}}'
    });
{% endfor %}
</script>
<script src="/all.min.js" async></script>